:root {
  --clr-fnt-pri: rgb(250, 250, 250);
  --clr-bg-pri: rgb(53, 53, 53);
  --clr-bg-sec: rgb(32, 33, 36);
  --clr-brd-pri: rgb(99, 99, 99);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--clr-bg-pri);
  color: var(--clr-fnt-pri);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
